// local Ivp font path
$ivp-base-asset-URL: '../../bower_components/ivp/fonts';

// bower:scss
  // Get Variables
  @import 'ivp/styles/sass/_variables';
  // Get the Fonts
  @import 'ivp/styles/sass/_fonts';
  // Get Mixins
  @import 'ivp/styles/sass/_mixins';
  // Get our normalize
  @import 'ivp/styles/sass/_normalize';
  // Get Utility Classes
  @import 'ivp/styles/sass/_utility';
  // Get the grid
  @import 'ivp/styles/sass/_grid';
  // Get Playback
  @import 'ivp/styles/sass/_playback';
  // Get the posters
  @import 'ivp/styles/sass/_posters';
  // Get Controls
  @import 'ivp/styles/sass/_controls';
  // Get HotSpots
  @import 'ivp/styles/sass/_hotspots';
  // Get Cards
  @import 'ivp/styles/sass/_cards';
  // Get the error
  @import 'ivp/styles/sass/_error';
  // Get the default theme
  @import 'ivp/styles/sass/_default-theme';
// endbower


//
// The following rules are just for demonstration:
//

body {
  margin: 20px 0 0;
}

#svp-experience {
  max-width: 960px;
  margin: 0 auto;
}
