<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//ixd.invodo.com/ivp/2.1.0/ivp.min.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="svp-experience"></div>

    <!-- Invodo.js -->
    <script src="//e.invodo.com/4.0/s/ixd.invodo.com.js"></script>
    <!-- Invodo Ivp -->
    <script src="//ixd.invodo.com/ivp/2.1.0/ivp.min.js"></script>

  </body>
</html>
